@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: Inter, sans-serif;
    }

    :root {
        --wallground: #ffffff;
        /* Background color of the main UI. */
        --background: #f2f4f7;
        /* Primary text or content color. */
        --foreground: #080809;
        /* Text color*/
        --primary-text: #080809;
        --secondary-text: #606366;
        /* Background and foreground color for card components. */
        --card: #ffffff;
        --card-foreground: #0f0f0f;
        /* Colors for popover elements. */
        --popover: #ffffff;
        --popover-foreground: #0f0f0f;
        /* Main accent color and its foreground text color. */
        --primary: #e11d48;
        --primary-foreground: #ffffff;
        /* Secondary accent and text color. */
        --secondary: #f59e0b;
        --secondary-foreground: #171717;
        /* Muted colors, often used for subtle UI elements. */
        --muted: #f5f5f5;
        --muted-foreground: #737373;
        /* Accent color, often used for attention-grabbing elements. */
        --accent: #f5f5f5;
        --accent-foreground: #171717;
        /* Used for alerts, errors, or destructive actions. */
        --destructive: #d93a3a;
        --destructive-foreground: #ffffff;
        /* Standard border color. */
        --border: #e4e4e4;
        /* Background color for input fields. */
        --input: #e4e4e4;
        /* Color for focus ring around elements. */
        --ring: #0f0f0f;
        /* Colors for different chart elements, useful for data visualization. */
        --chart-1: #d45435;
        --chart-2: #3b8a63;
        --chart-3: #394e73;
        --chart-4: #d5ba2a;
        --chart-5: #e68d32;
        /* The border-radius for rounded elements, set at 0.5rem for slightly rounded corners. */
        --radius: 0.5rem;
    }

    @media (prefers-color-scheme: dark) {
        .dark {
            --wallground: #000000;
            --background: #1c1c1d;
            --foreground: #e2e5e9;
            /* Text color*/
            --primary-text: #e2e5e9;
            --secondary-text: ##65686c;
            /**/
            --card: #0f0f0f;
            --card-foreground: #ffffff;
            --popover: #0f0f0f;
            --popover-foreground: #ffffff;
            --primary: #be123c;
            --primary-foreground: #080809;
            --secondary: #b45309;
            --secondary-foreground: #ffffff;
            --muted: #262626;
            --muted-foreground: #a1a1a1;
            --accent: #262626;
            --accent-foreground: #ffffff;
            --destructive: #8d1b1b;
            --destructive-foreground: #ffffff;
            --border: #262626;
            --input: #262626;
            --ring: #d4d4d4;
            --chart-1: #4d94e6;
            --chart-2: #4db8a8;
            --chart-3: #e68f33;
            --chart-4: #e394f3;
            --chart-5: #f26f95;
            /* The border-radius for rounded elements, set at 0.5rem for slightly rounded corners. */
            --radius: 0.5rem;
        }
    }
}

@layer utilities {
    .font-logo {
        font-family: Pacifico, Inter, sans-serif;
    }

    .font-preahvihear {
        font-family: Preahvihear, Inter, sans-serif;
    }

    .font-playwrite {
        font-family: playwrite, Inter, sans-serif;
    }

    .font-lexendDeca {
        font-family: LexendDeca, Inter, sans-serif;
    }
    .font-saira {
        font-family: Saira, Inter, sans-serif;
    }

    /* Hidden scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    /* Hidden increment on button number input */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Text Selection Color */
    ::-moz-selection {
        /* Code for Firefox */
        color: var(--background);
        background: var(--secondary);
    }

    ::selection {
        color: var(--background);
        background: var(--secondary);
    }
}
